body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: black;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  height: 80vh;
  background: #222;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
